#preamble .abstract blockquote {
  background: var(--quote-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  padding: 0.75em 1em;
}

.doc .hdlist1 {
  font-weight: bold;
  font-style: italic;
}

summary {
  list-style: inherit;
  border: none;
}

details p {
  cursor: auto;
  background: #eee;
  border-radius: 4px;
  right: 0;
}

details[open] p {
  animation: animateDown 0.2s linear forwards;
}

@keyframes animateDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
