<!DOCTYPE html>
<html lang="fr">
  <head>
{{> head defaultPageTitle='Page non trouvée'}}
  </head>
  <body class="status-404">
{{> header}}
{{> body componentOrder=(lookup (lookup (lookup (siteStartPage) 'asciidoc') 'attributes') 'page-component-order')}}
{{> footer}}
  </body>
</html>
